@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,500;1,300;1,500&display=swap');

.Header { grid-area: Header; }

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

/* MOST IMPORTANT AND UNIVERSAL ELEMENTS */

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  background: #4CAF50;
  margin: 0px;
  width: 100%;
}



fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}



/* POMODORO TIMER */

button {
  opacity: 100%;
}


.Main { 
  grid-area: Main;
  margin-top: 150px;
}

.main-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.label {
color: white;
font-size: 1.5vw;
}



/* TO-DO LIST */


button.remove {
  border-radius: 20px;
  border: none;
  background-color: rgb(165, 0, 0);
  color: white;
  align-items: center;
  bottom: 5px;
}

button.remove:hover,
button.remove:focus {
  background: rgb(94, 0, 0);
}

button.complete {
  border-radius: 20px;
  border: none;
  background-color: rgb(0, 165, 60);
  color: white;
}



/* TO-DO LIST ON THE HOMEPAGE */

.li {
  margin-top: 20%;
  text-align: left;
}

.ul {
  margin-top: 20%;
  text-align: left;
  padding-inline-start: 0px;
}

span.taskName {
  margin-right: 10px;
  font-size: 30px;
}

span.dueDate {
  margin-right: 10px;
  font-size: 30px;
}

span.timeInput {
  margin-right: 10px;
  font-size: 30px;
}

.input#taskInput {
  background-color: #3CBC8D;
  color: white;

}




/* STOPWATCH  */

.wrapper {
width: 800px;
margin: 30px auto;
color: white;
text-align:center;
}

.h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

/* #seconds, #minutes, #colon, #tens{
  font-size:2em;
} */

.button-reset{
  color: white;
  border: solid 1px white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}


#button-start{
  background-color: transparent;
  border: 2px solid rgb(84, 228, 108);
  border-radius: 0.6em;
  color: rgb(84, 228, 108);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#button-start:hover,
#button-start:focus {
  opacity: 50%;
}

#button-stop:hover,
#button-stop:focus {
  opacity: 50%;
}

#button-reset:hover,
#button-reset:focus {
  opacity: 50%;
}

#pomodoro:hover,
#pomodoro:focus {
  opacity: 50%;
}

#shortBreak:hover,
#shortBreak:focus {
  opacity: 50%;
}

#longBreak:hover,
#longBreak:focus {
  opacity: 50%;
}
#button-stop{
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0.6em;
  color: red;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#button-reset{
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 0.6em;
  color: grey;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#pomodoro{
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 0.6em;
  color: grey;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.pomodoro-container {
  margin-top: 20px;
}

#shortBreak{
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 0.6em;
  color: grey;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
#longBreak{
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 0.6em;
  color: grey;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#start.phase{
  display: inline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;


}

#pause.phase{
  display: inline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

#reset.phase{
  display: inline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

/* DICTIONARY */


* {
	/* padding: 0;
	margin: 0; */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #ae9cff;
}

.dictionary-wrapper {
	width: 100%;
	position: flex;
	top: 20px;
	right: 50%;
}

.dictionary-container {
	width: 25%;
  float: right;
  background-color: #E5F8FF;
	padding: 5px 10px;
  padding-right: 50px;
	border-radius: 10px;
  margin-top: 2vw;

}

.dictionary-a {
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 100%;
	background-color: #ffffff;
	border-radius: 10px;
	color: #1f194c;
	font-weight: 600;
	-webkit-box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
	box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
	margin-top: 30px;
}

.search-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.search-box input {
	padding: 5px;
	width: 70%;
	border: none;
	outline: none;
  border-radius: 10px;
	border-bottom: 3px solid #3244cd93;
}

.search-box button {
	padding: 15px 0;
	width: 25%;
	background-color: #3244cd93;
	border: none;
	outline: none;
	color: #ffffff;
	border-radius: 10px;
	font-size: 16px;
}

.search-box button:hover,
.search-box button:focus {
  background: #04159793;
}


.result {
	position: relative;
}

.result h3 {
	font-size: 30px;
	color: #1f194c;
}

.result .word {

	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 20px;
}

.result button {
	background-color: transparent;
	color: #ae9cff;
	border: none;
	outline: none;
	font-size: 18px;
}

.result .details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 5px;
	color: #b3b6d4;
	margin: 0;
	font-size: 14px;
}

.word-meaning {
	color: #575a7b;
}

.word-example {
	color: #575a7b;
	font-style: italic;
	border-left: 5px solid #ae9cff;
	padding-left: 20px;
	margin-top: 30px;
	font-size: 16px;
}

.error {
	margin-top: 80px;
	text-align: center;
}



@media screen and (max-width: 768px) {


	
	.search-box button {
		font-size: 14px;
	}
}



/* MUSIC PLAYER */


body {
  background-color: lightgreen;

  /* Changes the background colour smoothly*/
  transition: background-color .5s;
}

.player {
  height: 95vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.track-art {
  margin: 25px;
  height: 15vw;
  width: 15vw;
  background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  border-radius: 15%;
}

.now-playing {
  font-size: 1rem;
  color: white;
}

.track-name {
  font-size: 3rem;
  color: white;
}

.track-artist {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: center;
}

#dictionaryClose {
  right: 5px;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  border-radius: 20px;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#dictionaryClose:hover,
#dictionaryClose:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.playpause-track, .prev-track, .next-track {
  padding-left: 25px;
  padding-right: 25px;
  opacity: 0.8;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
  opacity: 1.0;
}

.slider_container {

  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}


.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time, .total-duration {
  padding: 10px;
  color: white;
}

i.fa-volume-down, i.fa-volume-up {
  padding: 10px;
  color: white;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
  color: white;
}



/* CALENDAR */

.cal-wrapper {
  margin: 15px auto;

  width: 95%;
}

.container-calendar {

  overflow: auto;
  top: 30%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100%;
  /* position: relative; */
  background-color: #feffe7;
  margin: 2.5%;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: rgb(0, 0, 0);
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}    

.table-calendar {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.table-calendar td, .table-calendar th {
  padding: 5px;
  font-size: 1.5vw;
  border: 1px solid #000000;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
  outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* SUNDAYS */
.date-picker:nth-child(1) {
color: red;
}

/* FRIDAYS */
.date-picker:nth-child(6) {
color: green;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #0d4054;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00BCD4;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

/* Grid skeleton container*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.15fr 1.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header"
    "Main";
}



/* Most important elements of text, etc */

html, body , .container {
  height: fit-content;
  margin: 0;
}
  
.button {
  appearance: manual;
  fill: #212020;
  height: 50px;
  border: black;
}

h1 {
  font-size: 48px;
  font-weight: 300;
}
  
h2 {
  font-size: 32px;
  font-weight: 300;
}
  
h3 {
  font-size: 22px;
  font-weight: 300;
}

h4 {
  font-size: 30px;
  font-weight: 300;
}
  
h5 {
  font-size: 5vw;
  color: black;
}
  
h6 {
  font-size: 9vw;
}
  
h7 {
  font-size: 1.8vw;
}
  
.strong {
  font-weight: bold;
}
  
body {
  font-family: 'Lato', serif;
  font-weight: 800;
}
  
p {
  text-align: left;
  font-size: 20px;
}
  
  
.container-music {
  display: flex;
  width: 30%;
  top: 30%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: auto;
  /* position: relative; */
  background-color: #212020;
  opacity: 90%;
  margin-left: 2.5%;
}


  
  
  
  
  
  
/* <!-- main information boxes --> */
.information {
  text-align: center;
  background-color: #212020;
  color: black;
  text-decoration-color: black;
  top: 20%;
  left: 10%;
  position: absolute;
  width: 50%;
  height: auto;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10;
  opacity: 90%;
}
  
.timing-area {
  text-align: center;
  background-color: #212020;
  color: black;
  text-decoration-color: black;
  top: 30%;
  left: 5%;
  position: absolute;
  width: 40%;
  height: auto;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10;
  opacity: 90%;
}
  
.list-container {
  text-align: center;
  background-color: #212020;
  color: white;
  text-decoration-color: white;
  /* top: 30%;
  left: 5%; */
  /* position: absolute; */
  /* width: 25%; */
  height: 100%;
  width: auto;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 90%;

}

.timing-container {
  text-align: center;
  background-color: #212020;
  color: white;
  text-decoration-color: black;
  /* top: 30%;
  left: 5%; */
  /* position: absolute; */
  /* width: 30%; */
  /* height: auto; */
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  opacity: 90%;
  margin-left: 2.5%;
}

.timing {
  text-align: center;
  background-color: #212020;
  color: black;
  text-decoration-color: black;
  top: 30%;
  left: 5%;
  /* position: absolute; */
  display: flex;
  width: 25%;
  height: 100%;
  width: auto;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10;
  opacity: 90%;
}

/* .covey-section {
  background-color: #212020;
  color: white;
  font-size: 1.2vh;
  text-decoration-color: black;
  left: 5%;
  right: 5%;
  display: flex;
  width:auto;
  height: auto;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 90%;
  margin: 0 5%;
  margin-top: 20px;
} */

.covey-section {
  background-color: #212020;
  color: white;
  font-size: 1.2vh;
  text-decoration-color: black;
  left: 5%;
  right: 5%;
  display: flex;
  max-width: 380px;
  height: auto;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 90%;
  margin: 0;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* INPUT FORM */

button#itemsubmit {
  background-color: transparent;
  border: 2px solid rgb(0, 144, 7);
  border-radius: 0.6em;
  color: rgb(0, 144, 7);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  margin: 5px;
  margin-top: 20px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

button#itemsubmit:hover,
button#itemsubmit:focus {
  opacity: 50%;
}

input#taskname, input[type="date"], input[type="time"], input[type="number"] {
  width: 75%;
  margin: 5px 15px;
  height: 35px;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 14px;
}



select#importanceinput, #urgencyinput {

  padding: 5px 15px;
  width: 75%;
  margin: 5px 15px;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 14px;
  height: 35px;
      

 }


/* .covey-table {
  background-color: #212020;
  color: white;
  display: flex;
  width: 90%;
  height: 60%;
  border-radius: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
  opacity: 90%;
  margin: 5%;
  margin-top: 2.5%;
} */
  
.covey-table {
  background-color: #212020;
  color: white;
  top: 28%;
  /* height: 50vw; */
  display: flex;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 90%;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;

}

.table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  font-size: 30px;
  padding: 10px;
  border: 1px solid #000000;
}

.th, td {
  padding: 0;
}
td {
  width:0%;
  font-size: 30px;
}

.stopwatch-section {
  text-align: center;
  background-color: #212020;
  color: white;
  text-decoration-color: black;
  /* top: 30%;
  left: 5%; */
  /* position: absolute; */
  /* width: 30%; */
  /* height: auto; */
  border-radius: 20px;
  /* padding-left: 40px;
  padding-right: 40px; */
  opacity: 90%;
  margin-left: 2.5%;

}

#stopwatch {
  text-align: center;
}
  
.volunteer_donate {
  text-align: center;
  background-color: #212020;
  color: black;
  text-decoration-color: black;
  /* top: 30%;
  right: 5%;
  position: absolute; */
  /* width: 20%;
  height: auto; */
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10;
  opacity: 90%;
}

img#butn {
  max-width:50%;
  height: auto;
}

img#butn:hover,
img#butn:focus {
  opacity: 50%;
}

p#stopwatch {
  font-size: 60px;
}

.quadrants {
  border-collapse: collapse;
  width: 90%;
  font-size: 30px;
}

.th, td {
  text-align: left;
  padding: 0.8vw;
  border-radius: 20px;
  line-height: 2vw;
}

.quadthead {
  background-color: none;
  padding: 5px;
}

/* tr:nth-child(even) {background-color: #6F716F;}
td:nth-child(odd) {background-color: #6F716F;} */




  /* image on the nav bar */
  
  
.logo-image img{
  float: left;
  width: 300px;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 50px;
  height: auto;
}
  
  
  /* Navigation bar */
  
.navbar {
  text-align: center;
  background-color: #E5F8FF;
  top:0%;
  left: 0%;
  position: fixed;
  width: 100%;
  height: 130px;
  z-index:9999;
  padding: 0;
}
  
  
  
.navbar a {
  float: left;
  font-size: 2vw;
  font-weight: 500;
  color: black;
  text-align: center;
  padding-top: 0px;
  padding-left: 4vw;
  text-decoration: none;
  z-index: 6;
}
  
.navigation-content {  
  fill: #000000;
}
  
.nav:hover {
  color: black;
}
  
navigation-content a:hover {
  color: #E5F8FF;
}
  
nav.navbar .navigation-content a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
  
.timing-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
  
  
/* Flexbox display containers */

.timer-container{
  display: flex;
  margin-top: 10%
}
  
  
@media all and (max-width: 700px){

  .th {

    line-height: 5vw;
  }

  .dictionary-wrapper {
    width: 100%;
    position: flex;
    top: 20px;
    right: 50%;
  }


  .dictionary-container {
    width: 100%;
    float: right;
    background-color: #E5F8FF;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 2vw;
    
  }    
  
  .main-section {
    display: block;
  }

  .Main {
    margin-top: 14px;
  }
  
    /* sizing of the contact form input fields */
  
  textarea.input {
    min-width: 100px;
    min-height: 169px;
    padding: 19px 15px 0 15px;
  }
  

  .covey-section {
    background-color: #212020;
    color: white;
    font-size: 1.2vh;
    text-decoration-color: black;
    left: 5%;
    right: 5%;
    display: flex;

    height: auto;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 90%;
    margin: 0;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }


  .covey-table {
    background-color: #212020;
    color: white;
    top: 28%;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 90%;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    overflow-x: auto;

  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding: 10px;
  }
  
  h7 {
    font-size: 2vh;
    font-weight: 500;
    line-height: 1.5vh;
  }
  
  .timing-section {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .img {
    max-width:50%;
    max-height: auto;
  }

  .stopwatch-section {
    text-align: center;
    background-color: #212020;
    color: white;
    text-decoration-color: black;
    /* top: 30%;
    left: 5%; */
    /* position: absolute; */
    /* width: 30%; */
    /* height: auto; */
    border-radius: 20px;
    /* padding-left: 40px;
    padding-right: 40px; */
    opacity: 90%;
    margin: 0 5%;
    margin-top: 5%;
    padding-top: 2px;
    padding-bottom: 2px;
  }
    
 .list-container {
    text-align: center;
    background-color: #212020;
    color: white;
    text-decoration-color: white;
    /* top: 30%;
    left: 5%; */
    /* position: absolute; */
    /* width: 25%; */
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    opacity: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .timing-container {
    text-align: center;
    background-color: #212020;
    color: white;
    text-decoration-color: white;
    /* top: 30%;
    left: 5%; */
    /* position: absolute; */
    /* width: 25%; */
    height: auto;
    margin-top: 50px;
    width: 90%;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    opacity: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .container-music {
    width: 90%;  
    /* left: 35%;  */
    display: flex;
    margin-top: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: auto;
    /* position: relative; */
    background-color: #212020;
    opacity: 90%;
    margin: 0 5%;

  }
  

 
  .timing-area {
    text-align: center;
    font-size: 1.8vh;
    background-color: #212020;
    color: black;
    text-decoration-color: black;
    top: 25%;
    left: auto;
    margin: 5%;
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10;
    opacity: 90%;
  }
  
  .timer-area {
    text-align: center;
    font-size: 1.8vh;
    background-color: #212020;
    color: black;
    text-decoration-color: black;
    top: 25%;

    float:left;
    margin: 5%;
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10;
    opacity: 90%;
  }

  .timing-container {
    text-align: center;
    background-color: #212020;
    color: white;
    text-decoration-color: white;
    /* top: 30%;
    left: 5%; */
    /* position: absolute; */
    /* width: 25%; */
    height: 100%;
    width: auto;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 90%;
  
  }

  .video {
    background-color: #212020;
    top: 30%;
    right: 5%;
    position: absolute;
    width: 38%;
    height: auto;
  }
  


  .navbar {
    text-align: center;
    background-color: #E5F8FF;
    top:0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 130px;
    z-index:9999;
  }
  
  .navbar a {
    font-size: 4vw;
    color: rgb(0, 0, 0);
    text-align: justify;
    padding-left: 2vw;
    text-decoration: none;
    z-index: 6;
    line-height: 80%;
  }

  .logo-image img {
    float: left;
    width: 150px;
    padding-top: 3vw;
    padding-left: 20px;
    padding-right: 0px;
    height: auto;
  }
  
  .navigation-content{
    padding-left: 0px;
    padding-right: auto;
    top: 0%;
  }

}
  
  
@media all and (max-width: 450px){
  


    
  .textarea.input {
     min-width: 100px;
     min-height: 169px;
   padding: 19px 15px 0 15px;
  }
  
    /* donate and volunteer page */
  
    .donate-section {
      display: flex;
      justify-content: center;
      margin-top: 20%;
    }
  
    /* Library page */
  
    .library-title {
      left: 0%;
      right: auto;
   
    }
  

  
    .timing-area {
      justify-content: center;
      text-align: center;
      font-size: 1.8vh;
      background-color: #212020;
      color: black;
      text-decoration-color: black;
      top: 30%;
      left: auto;
      margin: 2%;
      position: absolute;
      width: auto;
      height: auto;
      border-radius: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5;
      opacity: 90%;
  
    }
  
  
    /* Navigational content */
    
    .logo-image img {
      float: left;
      width: 150px;
      padding-top: 3vw;
      padding-left: 2vw;
      padding-right: 0px;
      height: auto;
    }
  
  
    .navbar {
      text-align: center;
      background-color: #E5F8FF;
      top:0%;
      left: 0%;
      position: fixed;
      width: 100%;
      height: 120px;
      z-index:9999;
    }
  
    .navbar a {
      font-size: 4vw;
      color: rgb(0, 0, 0);
      text-align: justify;
      padding-left: 2vw;
      text-decoration: none;
      z-index: 6;
      line-height: 80%;
    }

    .navigation-content{
      padding-left: 0px;
      padding-right: auto;
      top: 0%;
    }

    .dictionary-wrapper {
      width: 100%;
      position: flex;
      top: 20px;
      right: 50%;
    }
  
    .dictionary-container {
      width: 100%;
      float: right;
      background-color: #E5F8FF;
      padding: 5px 10px;
      border-radius: 10px;
      margin-top: 2vw;
    
    }    

  
    /* html {
      font-family: sans-serif;
      font-size: 15px;
      line-height: 1.4;
      color: #444;
    } */
  
    body {
     margin: 0;
     margin-top: 110px;
     font-size: 1em;
    }
    div.container {
      margin-top: 140px;
      height: auto;
      display: block;
    }
  
  }
  